/*------------  FONTS ---------------*/

    @font-face {
        font-family: 'name-font';
        src: url('fonts/juliussansone.woff2') format('woff2'),
             url('fonts/juliussansone.woff') format('woff');
        font-weight: normal;
        font-style: normal;

    }
    @font-face {
        font-family: 'zeyada';
        src: url('fonts/zeyada-regular-webfont.woff2') format('woff2'),
             url('fonts/zeyada-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;

    }

    @font-face {
        font-family: 'gilroyl';
        src: url('fonts/gilroy-light-webfont.woff2') format('woff2'),
             url('fonts/gilroy-light-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;

    }
    @font-face {
        font-family: 'leckerli';
        src: url('fonts/leckerlione-regular-webfont.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;

    }
    @font-face {
        font-family: 'ibm_plex';
        src: url('fonts/ibmplexmono-regular-webfont.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;

    }
    @font-face {

        font-family: 'iosevkab';
        src: url("fonts/iosevka-bold.woff") format('woff'),
             url("fonts/iosevka-bold.woff2") format('woff2');
        font-weight: 700;
        font-style: normal;

    }
    @font-face {

        font-family: 'iosevkar';
        src: url("fonts/iosevka-regular.woff") format('woff'),
             url("fonts/iosevka-regular .woff2") format('woff2');
        font-weight: 400;
        font-style: normal;

    }
/*------------  HTML tag prop  ---------------*/

    body{

    	margin: 0px;
    	padding: 0px;
    	background-color: #F8F7F6;
    	-webkit-font-smoothing: antialiased;
    	font-smoothing: grayscale; 
    	text-rendering: optimizeLegibility;
    }
    a{
    	text-decoration: none;
    	color: inherit;
    }
/*------------  GRID DISPLAY   -------------*/

    .container{

    	height:100vh;
        display: grid;
        grid-template-columns: 1fr 1366px 1fr;
        grid-template-rows: 80px 1fr 688px 1fr;
        gap: 0px 0px;
    }
/*------------  NAVBAR         -----------------*/

    .nav_cont{

    	grid-row: 1;
    	grid-column: 2/3;
        position: relative;

    }
    .background1{
        background-color: #f3e600;
        width:50%;
        height: 100%;
        position: absolute;
    }
    .background2{
        background-color: #faf0e6;
        margin-left: 50%;
        width:50%;
        height: 100%;
        position: absolute;
    }
    .header_cont{

    	list-style-type: none;
    	height: 100%;
        width: 95%;
    	padding: 0px;
    	margin: 0px;
        position: absolute;
    	display: flex;
    	flex-direction: row;
        font-family: "ibm_plex";
    	gap:2%;
    	justify-content: center;
    	align-items: center;
    }

    	
    .order1{
    	order:1;
        opacity:0.6;
        font-size: 19px;

    }
    .order2{
    	order:2;
        opacity:0.6;
        font-size: 19px;

    }
    .order3{
    	order:3;
    	font-family: "leckerli";
        opacity: 0.6;
    	margin-top: 3px;
    	font-size: 32px;
    }
    .order4{
    	order:4;
        opacity:0.6;
        font-size: 19px;

    }
    .order5{
    	order:5;
        opacity:0.6;
        font-size: 19px;

    }
/*------------  MID-ROW        ------------------*/
    
    .mid-row{
        grid-row: 2;
        grid-column: 2/3;
        position: relative;
    }
    .bottom-row{
        grid-row: 4;
        grid-column: 2/3;
        position: relative;
    }
/*------------  FILLERS        ----------------*/

    .left-sidebar{

            grid-row:3;
            grid-column: 1/2;
            background-color: #f3e600;

    }
    .left-corner{

            grid-row:1;
            grid-column: 1/2;
            background-color: #f3e600;

    }
    .upper-yellow{
        
        grid-row:2;
        grid-column: 1/2;
        background-color: #f3e600;
    }
    .lower-yellow{
        
        grid-row:4;
        grid-column: 1/2;
        background-color: #f3e600;
    }


    .right-sidebar{
        
        grid-row:3;
        grid-column: 3/4;
        background-color: #faf0e6;
    }
    .right-corner{
        
        grid-row:1;
        grid-column: 3/4;
        background-color: #faf0e6;
    }
    .upper-beige{
        
        grid-row:2;
        grid-column: 3/-1;
        background-color: #faf0e6;
    }
    .lower-beige{
        
        grid-row:4;
        grid-column: 3/-1;
        background-color: #faf0e6;
    }
/*------------  MAIN CONTENT   -------------*/

    .wrapper{

        grid-row:3;
        grid-column:2/3;
        height: 688px;

        display: flex;
        flex-wrap: wrap;
    }
    .cs-section{

        height: 688px;
        width: 683px;
        position: relative;
        background-color: #f3e600;
    }
    .art-section{
        height: 688px;
        width: 683px;
        position: relative;
        background-color: #faf0e6;

    }


/*----------------------------------------      CS SECTION     ----------------------------------------*/


    .micro_img{

        
        margin: auto 0 auto auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        height: 182px;
        width:100px;
    }
    /*----------------------------------------------*/

    .chip-cont{

        position:absolute;
        width: 8px;
        height:8px;

    }

    .chip{

        position: relative;
        width:  8px;
        height: 8px;
        background-color: black;
    }

    .chip:before{

        position: absolute;
        content: "";
        height: 0; width: 4px;
        top: -3px;
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
        border-bottom: 4px solid black;
    }

    .cont1{

        top: 243px;right:5px;
    }

    .cont2{

        top: 243px;right:25px;
    }

    .cont3{

        top: 243px;right:45px;
    }
    .cont4{

        top: 243px;right:65px;
    }
    .cont5{
        transform: rotate(-90deg);
        top: 270px;right: 103px;
    }
    .cont6{
        transform: rotate(-90deg);
        top: 290px;right: 103px;
    }
    .cont7{
        transform: rotate(-90deg);
        top: 310px;right: 103px;
    }
    .cont8{
        transform: rotate(-90deg);
        top: 330px;right: 103px;
    }
    .cont9{
        transform: rotate(-90deg);
        top: 350px;right: 103px;
    }
    .cont10{
        transform: rotate(-90deg);
        top: 370px;right: 103px;
    }
    .cont11{
        transform: rotate(-90deg);
        top: 390px;right: 103px;
    }
    .cont12{
        transform: rotate(-90deg);
        top: 410px;right: 103px;
    }

    .cont13{

        transform: rotate(180deg);
        top: 438px;right:5px;
    }

    .cont14{

        transform: rotate(180deg);
        top: 438px;right:25px;
    }

    .cont15{

        transform: rotate(180deg);
        top: 438px;right:45px;
    }
    .cont16{

        transform: rotate(180deg);
        top: 438px;right:65px;
    }

    /*----------------------------     WIRES       ------------------------------*/


    .wire{

        position: absolute;
        height:1px; 
        background-color: #727475;
    }
    .wircir{

        position: absolute;
        height: 10px;
        width: 10px;
        border: 2px solid #727475;
        border-radius: 25px;
    }
    /*---*/
    .wircir0{
        top:160px;right: 277px;
    }
    .wire0-1{
        top:231px;right:59px ;
        width:20px;
        transform: rotate(90deg);
    }
    .wire0-2{
        top:177px;right:51px ;
        width:123px;
        transform: rotate(45deg);
    }
    .wire0-3{
        top:134px;right:156px ;
        width:106px;
    }
    .wire0-4{
        top: 147px;right: 255px;
        width: 33px;
        transform: rotate(128deg);
    }
    /*---*/
    .wircir1{
        top: 247px;right: 180px;
    }
    .wire1-1{
        top:273px;right:110px ;
        width:20px;
    }
    .wire1-2{
        top:263px;right:126px ;
        width:30px;
        transform: rotate(45deg);
    }
    .wire1-3{
        top:253px;right:150px ;
        width:30px;
    }
    /*---*/
    .wire2-1{
        top:354px;right:110px;
        width: 71px;
    }
    .wircir2{
        top:347px;right:180px;
    }
    /*---*/
    .wircir3{
        top: 472px;right: 205px;
    }
    .wire3-1{
        top:414px;right:110px ;
        width:20px;
    }
    .wire3-2{
        top:446px;right:107px ;
        width:67px;
        transform: rotate(109deg);
    }
    .wire3-3{
        top:478px;right:151px ;
        width:55px;
    }
    /*---*/
    .wircir4{
        top:536px;right: 393px;
    }
    .wire4-1{
        top:457px;right:59px ;
        width:20px;
        transform: rotate(90deg);
    }
    .wire4-2{
        top:519px;right:39px ;
        width:123px;
        transform: rotate(121deg);
    }
    .wire4-3{
        top:572px;right:132px ;
        width:243px;
    }
    .wire4-4{
        top:560px;right: 370px;
        width: 33px;
        transform: rotate(48deg);
    }
    /*---*/

    /*----------------------------     TERMINAL    ------------------------------*/

    .window-cont{

        position: absolute;
        top: 200px; left: 10px;
        height: 300px; width:450px; 

    }
    .window1{

        background-color: #372f44;
        width: 100%; height: 100%;
        position: relative;

    }
    .window1:before{

        content: "";
        position: absolute;
        height: 0; width: 45px;
        top: 0; left:0;
        border-bottom: 60px solid #372f44;
        border-left: 50px solid #f3e600;

    }
    .window1:after{

        content: "";
        position: absolute;
        height: 0; width: 45px;
        bottom: 0; right:0;
        border-top: 60px solid #372f44;
        border-right: 50px solid #f3e600;

    }
    .window-border{

        border: 2px solid #f3e600;
        position:absolute;
        top: 5px;bottom: 5px;right: 5px;left: 5px;

    }
    .window-border:before{

        content: "";
        position: absolute;
        height: 0; width: 45px;
        top: 0; left: 0;
        border-bottom: 60px solid #372f44;
        border-left: 50px solid transparent; 
    }
    .window-border:after{

        content: "";
        position: absolute;
        height: 0; width: 45px;
        bottom: 0; right: 0;
        border-top: 60px solid #372f44;
        border-right: 50px solid transparent; 
    }
    .horline{

        position: absolute;
        width: 2px;
        height:71px;
        background-color: #f3e600;
        transform: rotate(40deg);
        left:29px ;top:-3px; 
        z-index: 2;
    }
    .horline:after{

        position: absolute;
        content: "";
        width: 5px;
        height:78px;
        background-color: #372f44 ;
        border-radius: 25px 0 0 25px;   
        left:-5px ;top:0px; 
        z-index: 2;

    }
    .horline2{

        position: absolute;
        width: 2px;
        height:71px;
        background-color: #f3e600;
        transform: rotate(40deg);
        right:29px ;bottom:-3px; 
        z-index: 2;
    }
    .horline2:after{

        position: absolute;
        content: "";
        width: 5px;
        height:78px;
        background-color: #372f44 ;
        border-radius: 0 25px 25px 0;   
        right:-5px ;bottom:0px; 
        z-index: 2;

    }
    .parallel{

        position: absolute;
        height: 22px;
        width: 72px;
        border: 2px solid #f3e600;
        transform: skewX(-41deg);
        -ms-transform:skewX(-41deg);
    }
    .parallel1{

        top:5px ;left:41px ;
        background-color: #f3e600;
    }
    .parallel2{

        top:5px ;left:120px ;
    }
    .parallel3{

        top:5px ;left:200px ;
    }
    .parallel4{

        top:5px ;left:278px ;
    }
    .parallel5{

        top:5px ;left:358px ;
    }

    /*---------------Content ---------------*/

    .heading-window{

        position: absolute;
        top: 60px; left: 35px;
        height: 35px;width: 380px;
        background-color: #f3e600;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .heading-window:before{

        content: "";
        position: absolute;
        height: 0; width: 10px;
        top: 0; left:0;
        border-bottom: 22px solid transparent;
        border-left: 20px solid #372f44; 
        
    }
    .synopsis-window{

        position: absolute;
        top: 110px; left: 35px;
        height: 155px;width:280px;
        background-color: #f3e600;
        /*display: flex;
        justify-content: center;
        align-items: center;*/
    }
    .tools-window{

        position: absolute;
        top: 110px; right: 35px;
        height: 155px; width: 90px;
        background-color: #f3e600;
        /*display: flex;
        justify-content: center;
        align-items: center;*/

    }
    .tools-window:after{

        position: absolute;
        content: "";
        bottom:  0;right: 0;
        width: 30px; height: 0;
        border-top: 50px solid transparent;
        border-right:40px solid #372f44;
    }
    .text-heading{

        color:#521c91;
        font-size: 16px;
        font-family: iosevkab;
        letter-spacing: 3px;
        
    }
    .synopsis-head{
        color:#521c91;
        font-size: 14px;
        font-family: iosevkab;
        margin-left: 125px; margin-top: 10px;margin-bottom: 0px;
        line-height: 15px;
    }
    .text-synopsis{
        color:#521c91;
        font-size: 12px;
        font-family: iosevkar;
        margin-left: 12px; margin-top: 7px;
    }
    .synopsis-rep{

        color: #521c91;
        font-size: 14px;
        font-family: iosevkar;
        margin-left: 12px; margin-top: 7px;
    }
    .synopsis-link{

        font-size: 12px;
        font-family: iosevkar;
    }
    .text-tools{
        color:#521c91;
        font-size: 13px;
        font-family: iosevkab;
        margin-left: 12px; margin-top: 10px;margin-bottom: 0px;
        line-height: 15px;
    }
    .list-tools{
        color:#372f44;
        font-size: 9px;
        font-family: iosevkab;
        margin-left: 15px; margin-top: 5px;
        padding-left: 2px;
        line-height: 15px;
        font-weight: 13px;

    }

    /*-------------     ANIMATION    ---------------*/

    .project1{display: block;}
    .project2{display: none;}
    .project3{display: none;}
    .project4{display: none;}
    .project5{display: none;}

    /*----------------------------------------------*/

/*----------------------------------------      ART SECTION    ----------------------------------------*/

    .palette{

        
        margin: auto auto auto 0;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        height: 180px;
        width:100px;
        background-color: black;
        border-radius: 0px 15px 15px 0px;
        display: flex;
        align-items: center;

    }
    .palette-interior{

        background-color: #f9f7f7;
        width: 95px;
        height: 172px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0px 15px 15px 0px;
        cursor: url("images/paintbrush.webp"),auto;
        position: relative;

    }
    .color{

        height: 25px;
        width: 75px;
    }

    .color1{

        margin: 12px auto auto 10px;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        background-color: #00b8a9;

    }
    .color2{

        margin: 49px auto auto 10px;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        background-color: #e84545;
    }
    .color3{

        margin: 86px auto auto 10px;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        background-color: #f6416c;
    }
    .color4{

        margin: 123px auto auto 10px;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        background-color: #ffde7d;  
    }
    /*-------------------  KATHPUTLI  -------------------*/

    .tamasha{

        position: absolute;
        height:660px;
        width: 400px;
        margin: 0 auto auto 200px;
        top:0;left: 0;bottom: 0;right: 0;
    }
    .tam-wrapper{

        height: 100%;
        width: 100%;
        position: relative;
    }

    .controller{

        height: 200px;
        width: 400px;
        position: absolute;
        margin:0 auto auto auto;
        top: 0; left: 0; bottom: 0; right: 0;
    }

    /*--------------- PASA  -----------------*/
    .pasa{

        height: 50px;
        width: 6px;
        background-color: black;

        -webkit-border-radius: 5px 5px 5px 5px; 
        -moz-border-radius: 5px 5px 5px 5px;
        -o-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
    }

    .pasa1{

        -ms-transform: rotate(30deg);
        transform: rotate(30deg);
        position:absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        margin: 175px auto auto 35px;

    }
    .pasa2{

        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        position:absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        margin: 175px auto auto 35px;

    }

    .pasa3{

        -ms-transform: rotate(-30deg);
        transform: rotate(-30deg);
        position:absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        margin: 175px 30px auto auto;

    }
    .pasa4{

        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        position:absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        margin: 175px 30px auto auto;

    }

    /*------------------   STRINGS  ---------------------*/

    .line{

        width : 4px;
        height:100px;
        background-color: #a75ae4;

        -webkit-border-radius: 5px 5px 5px 5px; 
        -moz-border-radius: 5px 5px 5px 5px;
        -o-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
    }

    .line1{
        top: 0; left: 0; bottom: 0; right: 0;
        position: absolute;
        transform: rotate(-10deg);
        margin: 200px auto auto 23px;
        z-index: 4;
    }

    .line2{
        top: 0; left: 0; bottom: 0; right: 0;
        position: absolute;
        margin: 215px auto auto 25px;

    }

    .line3{
        top: 0; left: 0; bottom: 0; right: 0;
        position: absolute;
        margin: 180px auto auto 47px;

    }
    .line4{
        top: 0; left: 0; bottom: 0; right: 0;
        position: absolute;
        margin: 200px auto auto 57px;
        
    }

    .line5{
        top: 0; left: 0; bottom: 0; right: 0;
        position: absolute;
        transform: rotate(8deg);
        margin: 200px 15px auto auto ;
        z-index: 4;

    }

    .line6{
        top: 0; left: 0; bottom: 0; right: 0;
        position: absolute;
        margin: 215px 20px auto auto ;

    }

    .line7{
        top: 0; left: 0; bottom: 0; right: 0;
        position: absolute;
        margin: 180px 43px auto auto ;

    }
    .line8{
        top: 0; left: 0; bottom: 0; right: 0;
        position: absolute;
        margin: 200px 53px auto auto ;
     
    }

    /*-------------------   Puppets   -------------------------*/

    .katputli1{

        height: 140px;
        width: 60px;
        /*transform: rotate(50deg);*/
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        margin: 255px auto auto 195px;
        z-index:3;
        transform: rotate(30deg);
    }

    .katputli2{

        height: 140px;
        width: 60px;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        margin: 255px 70px auto auto;
        z-index: 3;
        transform: rotate(-30deg);
    }

    /*----------------  Puppet Hands -----------------------*/
    .upper{

        width: 7px;
        background-color: #275242;
        -webkit-border-radius: 5px 5px 5px 5px; 
        -moz-border-radius: 5px 5px 5px 5px;
        -o-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
    }

    .hand1{

            height: 35px;
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
            margin: 288px auto auto 230px;
            /*transform: rotate(-90deg);*/
            z-index:4;

    }

    .hand2{

        height: 25px;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        margin: 295px auto auto 245px;
        transform: rotate(-20deg);

    }

    .hand3{

        height: 25px;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        margin: 295px 120px auto auto ;
        background-color: #8F260E;
        transform: rotate(20deg);

    }

    .hand4{

        height: 35px;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        margin: 288px 105px auto auto ;
        background-color: #8F260E;
        z-index:4;
    }
    .lower{

        height: 4px;
        background-color: #FFDDC4;
        -webkit-border-radius: 5px 5px 5px 5px; 
        -moz-border-radius: 5px 5px 5px 5px;
        -o-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
    }

    .hand5{
        width: 35px;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        margin: 320px auto auto 230px ;
        z-index: 4;
        transform: rotate(10deg);
        transform-origin: top left;
    }

    .hand6{
        width: 35px;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        margin: 318px auto auto 250px ;
        z-index: 1;
    }
    .hand7{
        width: 35px;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        margin: 318px 125px auto auto ;
        z-index: 1;
    }
    .hand8{
        width: 35px;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        margin: 320px 105px auto auto ;
        z-index: 4;
        transform: rotate(-10deg);
        transform-origin: top right;
    }


    /*-----------------  ARTBOARD  -----------------*/

    .artboard{

        position: absolute;
        height: 200px;
        width: 300px;
        background-color: #00b8a9;
        top: 0; left: 0; bottom: 0; right: 0;
        margin: 300px  auto auto 52px;
        z-index: 3;
        opacity:1;
        
    }


    .artboard-back{

        position: absolute;
        height: 200px;
        width: 300px;
        background-color: #00b8a9;
        top: 0; left: 0; bottom: 0; right: 0;
        margin: 300px  auto auto 52px;
        z-index: 2;

    }
    /*-----------------ANIMATE-------------------*/

    .pasa2rotate{

        animation: pasarotate 2s both;
        -webkit-animation: pasarotate 2s both;
    }
    @keyframes pasarotate{

        0%{  transform: rotate(-90deg);}
        50%{ transform: rotate(-110deg);}
        100%{transform: rotate(-90deg);}
    }

    .pasa4rotate{

        animation: pasarotate2 2s both;
        -webkit-animation: pasarotate2 2s both;
    }
    @keyframes pasarotate2{

        0%{  transform: rotate(-90deg);}
        50%{ transform: rotate(-70deg);}
        100%{transform: rotate(-90deg);}
    }


    .slantline{

        animation: slantheight 2s both;

    }
    @keyframes slantheight{

        0%{  margin-top: 200px;}
        50%{ margin-top: 210px;}
        100%{ margin-top: 200px;}
    }

    .straightline{

        animation: straightheight 2s both;
        -webkit-animation: straightheight 2s both;

    }
    @keyframes straightheight{

        0%{ height:120px; margin-top: 200px;}
        50%{ height:120px; margin-top: 190px;}
        100%{ height:120px; margin-top: 200px;}
    }

    .handanimate{

        animation: handrotate 2s forwards;
        -webkit-animation: handrotate 2s forwards;
    }
    @keyframes handrotate{

        0% {transform: rotate(10deg); margin-left: 230px;}
        50% {transform: rotate(60deg); margin-left: 235px;}
        100% {transform: rotate(10deg); margin-left: 230px;}
    }

    .handanimate1{

        animation: handrotate1 2s forwards;
        -webkit-animation: handrotate1 2s forwards;
    }
    @keyframes handrotate1{

        0% {transform: rotate(-10deg); margin-right: 105px;}
        50% {transform: rotate(-60deg); margin-right: 110px;}
        100% {transform: rotate(-10deg); margin-right: 105px;}
    } 

    .artdrop{

        /*-webkit-animation: drop 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation: drop 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;*/
        -webkit-animation: drop 1s cubic-bezier(.93,1.09,.72,.57) both;
        animation: drop 1s cubic-bezier(.93,1.09,.72,.57) both;  
        }

    @keyframes drop{

        0%{ 
            -webkit-transform:translateY(0);
            transform: translateY(0);
            opacity: 1; }
        85%{
            -webkit-transform:translateY(200px);
            transform: translateY(200px);
            opacity: 1px;
            height: 200px;
        }
        97%{
            -webkit-transform:translateY(350px);
            transform: translateY(350px);
            opacity: 1;
            /*height: 10px;*/
        }
        99%{ 
            -webkit-transform:translateY(355px);
            transform: translateY(355px);
            height: 0px;
            opacity: 0;
           }
        100%{
            -webkit-transform:translateY(0);
            transform: translateY(0);
            opacity: 0;
            background-color: yellow;
            height: 200px;
        }
    } 
